<div class="err">
    {{error}}
</div>


                <h1>SignUp page</h1>

        <form class="login-form" action="/signup" id="signup-form" method="POST">
            <label for="email">Enter Email: </label>
            <input type="text" id="email" name="email" placeholder="Type username" value="{{user.email}}" required/> <br/>
            
            <label for="password">Enter Password: </label>
            <input id="password" type="password" name="password" placeholder="Type password"
                value="{{user.password}}" required/> <br/>
            <label for="firstName">Enter First Name: </label>
            <input type="text" id="firstName" name="firstName" placeholder="Type first name"
                value="{{user.firstName}}" required/><br/>
            <label for="lastName">Enter Last Name: </label>
            <input type="text" id="lastName" name="lastName" placeholder="Type last name" value="{{user.lastName}}" required/> <br/>
            <label for="age">Enter Age: </label>
            <input type="Number" id="age" name="age" placeholder="Type age" value="{{user.age}}" required> <br/>

             <input type="radio" id="MALE" name="GENDER" value="MALE"  checked>
            <label for="MALE">MALE</label>
    
             <input type="radio" id="FEMALE" name="GENDER" value="FEMALE" >
             <label for="FEMALE">FEMALE</label>

             <br/>
    

            <input type="submit" value="Register" class="btn-p" />

            <p class = "erroslines" ></p>
            
            <p class="message"><a href="/login">Already have an account? Click here to log-in</a></p> <br/>
            
        </form>
    </div>
</div>